*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'Calibri', Helvetica, Arial;
    background-color: #0f1c2b;
    color: white;
}

/* ##### MENU ##### */
.logo{
    margin: 10px 10px 0px 350px;
    position: relative;
    z-index: 10;
}

nav{
    position: fixed;
    width: 100%;
    height: 50px;
    background-color: transparent;
    font-weight: normal;
    font-size: larger;
    margin-bottom: 50px;
}


.navbar-brand{
    color: white;
    font-weight: bold;
}

.navbar-brand:HOVER{
    color: #8698ae;
}

.nav-link{
    color: white;
}

nav li .nav-item{
    color: white;
}

nav ul .nav-link:HOVER{
    color: #8698ae;
}

.dropdown{
    color: #8698ae;
}

.d-flex{
    margin-right: 350px;
    margin-top: 5px;
}

/* ##### CONTEUDO #####*/

.table{
    background-color: white;
    color: white;
}


/* ##### FOOTER ##### */
footer{
    margin-top: 15%;
    width: 100%;
    height: auto;
    background-color: #213041;
    text-align: center;
    color: white;
    margin: 0 auto;
    overflow: hidden;
   
}

.textoFooter{
    width: 850px;
    float: left;
    color:#8698ae;
    margin-left: 350px;
    text-align: left;
    font-size: 20px;
    padding: 50px 0px;
}

.redes{
    width: 150px;
    float: left;
    margin-left: 150px;
    margin-top: 20px;
    padding-top: 40px;
}

.textoFooter a{
    text-decoration: none;
    color: white;
}

footer ul{
    list-style-type: none;
}