*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'Calibri', Helvetica, Arial;
    background-color: #0f1c2b;
}

/* ##### MENU ##### */
.logo{
    margin: 10px 10px 0px 350px;
    position: relative;
    z-index: 10;
}

nav{
    position: fixed;
    width: 100%;
    height: 50px;
    background-color: transparent;
    font-weight: normal;
    font-size: larger;
    margin-bottom: 50px;
}

.navbar-brand{
    color: white;
    font-weight: bold;
}

.navbar-brand:HOVER{
    color: #8698ae;
}

.nav-link{
    color: white;
}

nav li .nav-item{
    color: white;
}

nav ul .nav-link:HOVER{
    color: #8698ae;
}

.dropdown{
    color: #8698ae;
}

.d-flex{
    margin-right: 350px;
    margin-top: 5px;
}

/*######## LOGIN ###########*/
main{
    display: flex;
    justify-content: center;
}
.login-container {
    margin-top: 50px;
    position: relative;
    text-align: center;
    background-color: #0f1c2b;
    color: white;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    width: 320px;
    border-style: solid;
    border-width: 2px;
    border-color: #434e5c;
    border-radius: 15px;
}

.login-container h2 {
    color: white;
    margin-bottom: 20px;
}

.login-container label {
    display: block;
    text-align: left;
    margin-bottom: 5px;
    font-weight: bold;
}

.login-container input{
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    background-color: #0f1c2b;
    color: white;
    border-style: solid;
    border-width: 2px;
    border-color: #434e5c;
    border-radius: 15px;
}

.login-container a{
    text-decoration: none;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #333; 
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    background-color: #741919;
}
/* ##### FOOTER ##### */
footer{
    margin-top: 15%;
    width: 100%;
    background-color: #213041;
    text-align: center;
    color: white;
    padding: 40px 0px 100px 0px;
}

.textoFooter{
    float: left;
    color:#8698ae;
    margin-left: 350px;
    text-align: left;
}

.textoFooter a{
    text-decoration: none;
    color: white;
}

footer ul{
    list-style-type: none;
}